<%= content_for :sidebar do %>
	<ul class="sideNav">
		<li><%= link_to "Editar Imagens", admin_for_sale_item_for_sale_item_images_path(@for_sale_item.id) %>
		</li>
	</ul>
<% end %>

<%= content_for :breadcrumbs do %>
	<h2>
		<%= link_to "Trabalhos", admin_for_sale_items_path %>&raquo;
		<a href="#" class="active">Editar trabalho</a>
	</h2>
<% end %>

<% @submit_text = "Atualizar" %>
<%= render "form" %>
