<!DOCTYPE html>
<html>
<head>
  <title>Estudiuni</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<header>
			<%= link_to (image_tag "logo.png"), {:controller => "home"}, :class => "logo" %>
			<ul id="language">
				<li><a href="#" id="portuguese"  class="<%= I18n.locale.to_s.include?('pt') ? 'active-language' : '' %>" >PORTUGUÊS</a></a></li>
				<li ><a href="#" id="english" class="<%= I18n.locale.to_s.include?('en') ? 'active-language' : '' %>" >ENGLISH</a></li>
			</ul>
			<ul id="main-menu">
				<li id="home" class="<%= controller.controller_name == "home" ? "active" : "" %>">
					<%= link_to (t :home), 
							{:controller => "home", :action => "index"} %>
				</li>
				<li id="about" class="<%= (controller.controller_name == "about" and
									controller.action_name == "index") ? "active" : "" %>">
					<a href="#">About</a>
				</li>
				<li id="team" class="<%= controller.controller_name == "designers" ? "active" : "" %>">
					<%= link_to (t :team), 
						{:controller => "designers", :action => "index"} %>
					<ul class="artists">
						<% Designer.all.each do |designer| %>
							<li>
								<%= link_to designer.name, 
								{:controller => 'designers', :action => 'show', :id => designer}%>
								<hr />
							</li>
						<% end %>
					</ul>
				</li>
				<li id="jobs" class="<%= (controller.controller_name == "jobs" or
									controller.action_name == "jobs") ? "active" : "" %>">
					<a href="#">
						<%= t :jobs %>
					</a>
					<ul class="artists">
						<li>
							<a href="#">Estudiuni</a>
							<hr />
						</li>
						<% Designer.all.each do |designer| %>
							<li><a href="/<%= designer.name %>/works"><%= designer.name %></a><hr /></li>
						<% end %>
					</ul>
				</li>
				<li id="contact" class="<%= controller.controller_name == "contacts" ? "active" : "" %>">
					<%= link_to (t :contact), 
							"#" %>
				</li>
			</ul>
		</header>
		
		<section id="content">
			<%= yield %>
		</section>
		
		<footer>
			<p>desenvolvido por Vitor Andrioli</p>
		</footer>
	</div>
</body>
</html>
