<!DOCTYPE html>
<html>
<head>
  <title>Estudiuni</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<header>
			<%= link_to (image_tag "logo.png"), {:controller => "home"}, :class => "logo" %>
			<ul id="language">
				<li><a href="#" id="portuguese"  class="<%= I18n.locale.to_s.include?('pt') ? 'active-language' : '' %>" >PORTUGUÊS</a></a></li>
				<li ><a href="#" id="english" class="<%= I18n.locale.to_s.include?('en') ? 'active-language' : '' %>" >ENGLISH</a></li>
			</ul>
			<ul id="main-menu">
				<li id="home" class="<%= controller.controller_name == "home" ? "active" : "" %>">
					<%= link_to (t :home), 
							{:controller => "home", :action => "index"} %>
				</li>
			</ul>
		</header>
		
		<section id="content">
			<%= yield %>
		</section>
		
		<footer>
			<p>desenvolvido por Vitor Andrioli</p>
		</footer>
	</div>
</body>
</html>
