<%= form_for [:admin, @for_sale_item, @for_sale_item_image] do |f| %>
	<% if @for_sale_item_image.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@for_sale_item_image.errors.count, "error") %> prohibited this job from being saved:</h2>
			
			<ul>
				<% @for_sale_item_image.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= f.hidden_field :for_sale_item_id %>
	
	<div class="field">
		<%= f.label "Imagem" %><br />
		<%= f.file_field :url %>
	</div>
	
	<div class="action">
		<%= f.submit @submit_text %>
	</div>
	
<% end %>
